\#------------------------------------------------
\# keep IJ Files! in REPO
\# *.iml
\# *.ipr
\# *.iws
\# .idea/

packages
.project
*.dart.js
*.js_
*.js.deps
*.js.map
.pub
refreshChromium-1.0.applescript
*.lockSiteGen.iml
